# Byte-compiled / optimized / DLL archive
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

data/output/
data/report*
log/*
!log/.gitkeep
output/*
!output/.gitkeep

# IDEs
.vscode/
.idea/
